*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,sans-serif;

line-height:1.7;

background:#ffffff;

color:#222;

}

nav{

display:flex;

justify-content:space-between;

padding:20px 10%;

align-items:center;

}

nav ul{

display:flex;

list-style:none;

gap:25px;

}

nav a{

text-decoration:none;

color:#333;

}

.hero{

padding:120px 10%;

max-width:800px;

}

.hero h1{

font-size:56px;

margin-bottom:20px;

}

.hero p{

font-size:22px;

margin-bottom:30px;

}

.button{

background:black;

color:white;

padding:15px 30px;

text-decoration:none;

border-radius:8px;

display:inline-block;

}
.hero ul{

    margin:15px 0 30px 25px;

}

.hero li{

    margin-bottom:12px;

}

.hero h2{

    margin-top:30px;

    margin-bottom:15px;

    font-size:28px;

}
